---
import { Fragment } from "astro/jsx-runtime";
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/admin/index.html" />
  </head>
  <body>
    <p>Redirecting to <a href="/admin/index.html">Admin Panel</a>...</p>
  </body>
</html>
